.Button {
    background-color: grey;
    cursor: auto;
}

.Button .Toggle {
    background-color: whitesmoke;
    color: black;
    border-radius: 8px;
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
}